.env
.venv

__pycache__

node_modules

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

yarn-error.log

playwright-report

*.beam
*.ez
build
erl_crash.dump

images

priv/images.json

ratings.db
