main {
  height: 100%;
  display: grid;
  place-items: center;
}
#images > div {
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-areas: "box";
}
#images > div > *,
#images > div::before {
	grid-area: box;
}

img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 40vh;
  transition: 400ms all ease-out;
  cursor: pointer;
}

#images img:active {
  transition: all ease-in-out 96ms;
  outline: 10px solid yellow;
}

#images {
  display: grid;
  grid-template-columns: 35vmin 35vmin;
  grid-gap: 5vmin;
  margin: 5vmin;
}

footer {
  opacity: 0.5;
  padding: 1em;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.note {
  opacity: 0.5;
}

.prediction {
	background-color: hsl(180, 100%, 2.5%, 0.5);
	padding: 0.5em;
	border-top-left-radius: 0.5em;
	place-self: end;
}
